.menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #00000080;
  backdrop-filter: blur(4px);
}

.menu__container {
  padding: 12px;
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #052b16;
  opacity: .95;
  border-radius: 16px;
}

.menu__title {
  font-size: 2rem;
  line-height: 100%;
}

.menu__score-text {
  font-size: 1.5rem;
  line-height: 100%;
}

.menu__score-value {
  color: #D2E4D6;
  font-size: 1.5rem;
  line-height: 100%;
}

.menu__button {
  padding: 4px 8px;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
  border: 1px solid #000;
  border-radius: 4px;
}

.menu__button:hover {
  opacity: .8;
}

.menu__button_start {
  border: 1px solid #000;
  background-color: #A46856;
  color: #000;
}

.menu__button_leaderboard {
  border: 1px solid #000;
  background-color: #F9F871;
  color: #000;
}

.menu__buttons-difficulty {
  display: flex;
  gap: 8px;
}

.menu__button_active {
  background-color: #50D8E7;
}

.menu__additional {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.menu__toggle-music {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffffff80;
  background-image: url('../../images/no-music.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}