.leaderboard {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #00000080;
  backdrop-filter: blur(4px);
}

.leaderboard__container {
  padding: 8px;
  width: 340px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  color: #fff;
  background-color: #052b16;
  opacity: .95;
  border-radius: 16px;
}

.leaderboard__title {
  font-size: 2rem;
  line-height: 100%;
}

.leaderboard__table {
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  list-style: none;
  overflow-y: scroll;
}

.leaderboard__table-item {
  padding: 0 4px;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  line-height: 100%;
}

.leaderboard__button {
  font-size: 1.5rem;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #000;
}

.leaderboard__button:hover {
  opacity: .8;
}

.leaderboard__buttons-difficulty {
  display: flex;
  gap: 8px;
}

.leaderboard__button_active {
  background-color: #50D8E7;
}

.leaderboard__button_back {
  background-color: #F9F871;
}